/* styles for large cover */
.large-cover {
  margin: 27px;
  width: 180px;
  height: 211px;
}

/* styles for medium cover */
.medium-cover {
  width: 140px;
  height: 185px;
  margin: 20px 40px;
}
/* styles for small cover */
.small-cover {
  width: 60px;
  height: 70px;
  margin: 10px;
}